on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  validate:
    name: validate
    runs-on: ubuntu-latest
    strategy:
      matrix:
        release: ['alpha', 'beta', 'stable']
    steps:
      - uses: actions/checkout@v3
      - name: yaml-lint
        uses: ibiqlik/action-yamllint@v3
        with:
          file_or_dir: ${{ matrix.release }}/ok*/*.y*ml
